<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page - Create Doctor</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li class="{% if request.path == '/' %}active{% endif %}"><a href="/">Home</a></li>
            <li class="{% if request.path == '/createdoctor/' %}active{% endif %}"><a href="/appointment/">Appointment</a></li>
            <li class="logout"><a href="/logout/">Logout</a></li>
        </ul>
    </nav>
    <br><br>
    <div class="content">
        <div class="card-container">
            {% for details in message %}
            <form action="/" method="post" class="card">
                {% csrf_token %}
                <button type="submit" class="card-button">
                    <div class="card-content">
                        <h2>Dr.{{ details.name }}</h2>
                        <p><strong>Study:</strong> {{ details.study }}</p>
                        <p><strong>Specialist:</strong> {{ details.specialist }}</p>
                        <input type="hidden" name="doctor_name" value="{{ details.name }}">
                        <input type="hidden" name="doctor_email" value="{{ details.mail }}">
                        <input type="hidden" name="doctor_study" value="{{ details.study }}">
                        <input type="hidden" name="doctor_specialist" value="{{ details.specialist }}">
                        <input type="hidden" name="email" value="{{ email }}">
                    </div>
                </button>
            </form>
            {% endfor %}
        </div>
    </div>
</body>
</html>
