<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page - Create Doctor</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li class="{% if request.path == '/management/' %}active{% endif %}"><a href="/management/">Home</a></li>
            <li class="{% if request.path == '/createdoctor/' %}active{% endif %}"><a href="/createdoctor/">appointment </a></li>
            <li class="logout"><a href="/logout/">Logout</a></li>
        </ul>
    </nav>
    <div class="content">
        <h1>Hello</h1>
    </div>
</body>
</html>
