{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="content">
        <form id="loginForm" method="post" action="/login/">
            <h1>User Login</h1>
            <hr>
            {% csrf_token %}
            {% if message %}
            <span id="message" class="error-message">{{ message }}</span><br>
            {% endif %}
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br>
            
            <label for="role">Role:</label><br>
            <select id="role" name="role" required>
                <option value="">Select a role</option>
                <option value="patient">Patient</option>
                <option value="doctor">Doctor</option>
                <option value="management">Management</option>
            </select><br>
            <button type="submit">Login</button>
            <a href="/registration/">Registration</a>
        </form>
    </div>
</body>
</html>
