body {
    font-family: Arial, sans-serif;
    background: url("/static/image/registration.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 10%;
    margin: 0 auto;
}


h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    width: 300px;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
button[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

span {
    display: block;
    font-size: 14px;
    margin-top: 5px;
}

.success-message {
    color: #4CAF50;
}

.error-message {
    color: #FF6347;
}
